Repository LeoKuD/DIMS-cra: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix ./src, prettier --write ./src

.lintstagedrc.json:

{
  "*.js": "eslint --fix ./src",
  "*.{js,jsx,css,scss,json,md}": "prettier --write ./src"
}

fix: move App
  src/App/App.jsx
  src/App/App.module.css
  src/App/App.test.jsx
  src/index.jsx
Due: prettier --write ./src

fix: change code coverage scripts
  package.json
  src/index.css
  src/reportWebVitals.js
Due: eslint --fix ./src, prettier --write ./src

fix: add netlify button and setup file, update README.md
  .huskyrc.json
  README.md
  netlify.toml
  package-lock.json
  package.json
  src/App/App.jsx
  src/config.js
  yarn.lock
Due: eslint --fix ./src, prettier --write ./src

fix: restructure .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write ./src

docs: README.md improvement
  README.md
Due: prettier --write ./src

fix: adjust travis to yarn using
  .travis.yml
  README.md
Due: prettier --write ./src

fix: adjust travis to yarn using
  .travis.yml
Due: none

fix: add imports in App
  src/App/App.jsx
Due: prettier --write ./src

fix: change publish folder
  README.md
  netlify.toml
Due: prettier --write ./src

fix: change variables names
  netlify.toml
Due: none

fix: change variables names in config.js
  src/config.js
Due: eslint --fix ./src, prettier --write ./src

feat: update title
  .eslintrc.json
  src/App/App.jsx
  src/config.js
Due: eslint --fix ./src, prettier --write ./src

feat: set up eslint
  .eslintrc.json
  README.md
  package.json
  yarn.lock
Due: prettier --write ./src

feat: set up eslint, but still see the strange error with running eslint
  .eslintrc.json
  .idea/dims-cra.iml
  package.json
  src/components/Buttons/Button.jsx
  src/components/Buttons/SaveButton/SaveButton.jsx
  src/shared/noop.js
  yarn.lock
Due: eslint --fix ./src, prettier --write ./src

fix: add test params
  .idea/dims-cra.iml
  package.json
  src/components/Buttons/Button/Button.jsx
  src/components/Buttons/Button/Button.test.jsx
  src/components/Buttons/SaveButton/SaveButton.jsx
  src/components/Buttons/SaveButton/SaveButton.test.jsx
Due: prettier --write ./src

fix: test run, update CRA
  package.json
  src/components/Buttons/Button/Button.test.jsx
  yarn.lock
Due: prettier --write ./src

docs: surround package-manager
  README.md
Due: prettier --write ./src

docs: add DIMS logo, fix link to logo in netlify button
  README.md
Due: prettier --write ./src

docs: add delimiter
  README.md
Due: prettier --write ./src

docs: add build status
  README.md
Due: prettier --write ./src

docs: add some badges
  README.md
Due: prettier --write ./src

docs: update package.json
  package.json
Due: prettier --write ./src

feat: freeze deps
  package.json
  yarn.lock
Due: prettier --write ./src

feat: update version
  package.json
Due: prettier --write ./src

chore: add commitizen library and script
  README.md
  package.json
  yarn.lock
Due: prettier --write ./src

chore: add husky prepare-commit-msg hook
  .huskyrc.json
  README.md
Due: prettier --write ./src

docs: fix typo
  README.md
Due: prettier --write ./src

chore(travis-ci): change travis ci set-up
  .idea/dims-cra.iml
  .travis.yml
  package.json
  yarn.lock
Due: prettier --write ./src

chore(update deps): add commitint propmpt
  yarn.lock
Due: none

chore(skip): update deps
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier --write ./src

chore: update scripts
  .huskyrc.json
  package.json
Due: prettier --write ./src

docs: update docs and commitizen script
  .huskyrc.json
  README.md
  package.json
Due: prettier --write ./src

ci(package.json): change script on CI
  package.json
Due: prettier --write ./src

ci(.travis.yml): change all jobs
  .gitignore
  .travis.yml
  package.json
Due: prettier --write ./src

ci(travis.yml): change deprecated keys
  .travis.yml
Due: none
